header {
  width: 100vw;
}
.headerContent {
  width: 1200px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}
.logo:hover {
  cursor: pointer;
}
.logo:hover img {
  margin-right: 20px;
}
.logo img {
  width: 51px;
  transition-duration: 300ms;
}
.logo span {
  font-size: 24px;
  color: #0B2E4E;
  padding-left: 10px;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
}
.headerNavigation {
  display: flex;
  align-items: center;
  height: 51px;
}
.lang, .user, .menuBurger {
  margin-left: 15px;
  position: relative;
}
.nowLang {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: -0.035em;
  color: #6D8295;
  text-transform: uppercase;
  padding: 5px;
}
.langImgContainer, .userImgContainer, .menuBurgerImgContainer {
  border-radius: 100px;
  transition-duration: 300ms;
  padding: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lang:hover > .langImgContainer {
  background: var(--orange);
  cursor: pointer
}
.user:hover > .userImgContainer {
  background: var(--orange);
  cursor: pointer
}
.menuBurger:hover > .menuBurgerImgContainer {
  background: var(--orange);
  cursor: pointer
}
.blockator {
  position: fixed;
  top: 0px!important;
  left: 0vw;
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 999999;
  background: rgba(11, 46, 78, 0.4);
  display: flex;
  justify-content: center;
  animation: showBlockator 0.4s linear;
}
@keyframes showBlockator {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#getLang {
  position: fixed;
  top: 70px;
  left: calc(50vw + 420px);
  color: var(--orange);
  background: #FFFFFF;
  border: 2px solid var(--orange);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.13);
  border-radius: 30px;
  width: 100px;
  height: 110px;
  animation: showModalMenu 0.2s linear;
}
#getUser {
  position: fixed;
  top: 70px;
  left: calc(50vw + 300px);
  color: var(--orange);
  background: #FFFFFF;
  border: 2px solid var(--orange);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.13);
  border-radius: 30px;
  width: 400px;
  height: 630px;
  animation: showModalMenu 0.2s linear;
  transition-duration: 300ms;
  z-index: 9999;
}
#getMenuBurger {
  position: fixed;
  top: 70px;
  left: calc(50vw + 420px);
  color: var(--orange);
  background: #FFFFFF;
  border: 2px solid var(--orange);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.13);
  border-radius: 30px;
  width: 200px;
  height: 330px;
  animation: showModalMenu 0.2s linear;
}
@keyframes showModalMenu {
  from {
    top: 100px;
  }
  to {
    top: 70px;
  }
}
#getLangContent, #getMenuBurgerContent {
  margin: 20px 20px;
}
#getLangContent div span, #getMenuBurgerContent div span {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #0B2E4E;
}
#getUserContent {
  padding: 50px 42px;
  transition-duration: 300ms;
  z-index: 99999;
}
#getUserContent .headerModal {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #0B2E4E;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
#getUserContent .headerModal span {
  border-bottom: 1px solid #0B2E4E;
  padding: 0px 20px 10px 20px;
}
.headerModalActive {
  border-bottom: 2px solid #0B2E4E!important;
}
.headerModalDontActive {
  opacity: 0.6;
}
.headerModalActive:hover, .headerModalDontActive:hover {
  cursor: pointer;
}
#getUserContent h2 {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  color: #0B2E4E;
}
.social {
  margin-bottom: 35px;
  display: flex;
}
.social > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 34px;
  margin-right: 20px;
}
.social > div img {
  height: 24px;
}
#lang, #user, #menuBurger {
  display: none;
}
.google {
  background: #C5321E;
  box-shadow: 0px 5px 10px rgba(11, 46, 78, 0.13);
  border-radius: 45px;
}
.facebook {
  background: #4E6297;
  box-shadow: 0px 5px 10px rgba(11, 46, 78, 0.13);
  border-radius: 45px;
}
.apple {
  background: #060606;
  box-shadow: 0px 5px 10px rgba(11, 46, 78, 0.13);
  border-radius: 45px;
}
#getUserContent p, #getUserContent .radioBtn p {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #0B2E4E;
}
#getUserContent a {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #0B2E4E;
  opacity: 0.6;
  margin-bottom: 35px;
}
.radioBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}
.radioBtn span {
  width: 12px;
  height: 12px;
  min-height: 12px;
  min-width: 12px;
  border: 1px solid var(--orange);
  border-radius: 15px;
  margin-right: 10px;
}
.radioBtn p {
  font-size: 12px!important;
  opacity: 0.6;
}
.sign label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  color: #0B2E4E;
  opacity: 0.6;
}
.sign input {
  filter: drop-shadow(0px 5px 10px rgba(11, 46, 78, 0.13));
  background: #FFFFFF;
  border: 1.5px solid var(--orange);
  border-radius: 45px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  display: flex;
  align-items: center;
  /* dark orange */
  color: #0B2E4E;
  padding: 9px;
  padding-left: 20px;
  width: 90%;
  margin-bottom: 15px;
  outline: none;
}
.formBtn {
  background: var(--orange);
  border: 1px solid rgba(255, 255, 255, 0);
  box-shadow: 0px 5px 10px rgba(11, 46, 78, 0.13);
  border-radius: 45px;
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  padding: 13px 40px;
  color: #0B2E4E;
  transition-duration: 300ms;
}
.formBtn:hover {
  cursor: pointer;
  background: white;
  border: 1px solid var(--orange);
  box-shadow: 0 0 0px;
}
.showMyLogin {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #0B2E4E;
}

@media only screen and (max-width: 1280px) {
  .headerContent {
    width: 90vw;
  }
  .logo span {
    display: none;
  }
  #getLang {
    position: fixed;
    top: 70px;
    left: 50vw;
  }
  #getUser {
    position: fixed;
    top: 70px;
    left: 5vw;
    width: 90vw;
    height: 630px;
  }
  #getUserContent {
    padding: 50px 10px;
  }
  header {
    border-bottom: 0.1px solid rgba(0, 0, 0, 0.13);
  }
  #getMenuBurger {
    left: 40vw;
  }
}